<a href="/logout" id="logout-button">Log out</a>
&nbsp &nbsp | &nbsp &nbsp
<a href="/signers">List of signers</a>

<hr>



<div id="splash">
<h2 align="center">You may edit your profile here:</h2>

<div class="loginedit" align="center">
<form method="POST">

    <label for="inp" class="inp">
        <input name="firstname" type="text" id="inp" placeholder="&nbsp;" value={{#profile}}{{firstname}}{{/profile}}></input>
        <span class="label">First name</span>
        <span class="border"></span>
    </label>

    <label for="inp" class="inp">
        <input name="lastname" type="text" id="inp" placeholder="&nbsp;" value={{#profile}}{{lastname}}{{/profile}}></input>
        <span class="label">Last name</span>
        <span class="border"></span>
    </label> <br><br>


    <label for="inp" class="inp">
        <input name="email" type="email" id="inp" placeholder="&nbsp;" value={{#profile}}{{email}}{{/profile}}></input>
        <span class="label">E-mail</span>
        <span class="border"></span>
    </label>


    <label for="inp" class="inp">
        <input name="pass" type="password" id="inp" placeholder="&nbsp;"></input>
        <span class="label">Password</span>
        <span class="border"></span>
    </label><br><br>


    <label for="inp" class="inp">
        <input name="age" type="text" id="inp" placeholder="&nbsp;" value={{#profile}}{{age}}{{/profile}}></input>
        <span class="label">Age</span>
        <span class="border"></span>
    </label>


    <label for="inp" class="inp">
        <input name="city" type="text" id="inp" placeholder="&nbsp;" value={{#profile}}{{city}}{{/profile}}></input>
        <span class="label">City</span>
        <span class="border"></span>
    </label><br><br>


    <label for="inp" class="inp">
        <input name="url" type="url" id="inp" placeholder="&nbsp;" value={{#profile}}{{url}}{{/profile}}></input>
        <span class="label">Url</span>
        <span class="border"></span>
    </label><br>


    <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
<br><br><button>UPDATE</button>
</form>
</div>
</div>
